<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inicio | App de Productividad{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='tarea.png') }}" type="image/png">
</head>
<body>
    <header>
        <h1 class="logo"> App de Productividad</h1>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a class="menu-btn" href="{{ url_for('index') }}">Inicio</a>
            <a class="menu-btn" href="{{ url_for('register') }}">Registrarse</a>
            <a class="menu-btn" href="{{ url_for('login') }}">Acceder</a>
            <a class="menu-btn" href="{{ url_for('contactos') }}">Contáctanos</a>

            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>
    <section id="banner">
        {% block banner %}
        <div class="contenido-banner">
            <h3><span>Organiza tu vida</span> y domina tu tiempo con nuestra web.</h3>
            <a href="{{ url_for('login') }}" class="boton-empezar">Empezar</a>
        </div>
        {% endblock %}
    </section>
    
    <footer id="footer">
        <p>&copy;2024 Laboratorio IV</p>
    </footer>
</body>
</html>
